* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #1e1e2f, #212112);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    padding: 25px 35px;
    background: linear-gradient(135deg, #3a3a6e, #494eea);
    border-radius: 12px;
    color: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.container p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input {
    width: 100%;
    height: 50px;
    border: 1px solid #ffcc00;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.container button {
    width: 100%;
    height: 50px;
    background: linear-gradient(135deg, #ff7b00, #ffcc00);
    color: #212121;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 10px 15px rgba(255, 204, 0, 0.4);
    margin: 20px 0;
    font-weight: 500;
    transition: 0.3s;
}

.container button:hover {
    background: linear-gradient(135deg, #ffcc00, #ff7b00);
    box-shadow: 0 10px 20px rgba(255, 165, 0, 0.5);
}

#imgBox {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

#imgBox img {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}

#imgBox.show-img {
    max-height: 300px;
    margin: 10px auto;
    /*border: 1px solid #ffcc00;*/
    box-shadow: 0 5px 15px rgba(255, 204, 0, 0.1);
}

.error {
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}